[alias]
	mr = push origin HEAD
	mrf = push -f origin HEAD
	branch-gc = !git branch --merged | egrep -v \"(^\\*|master|main|develop)\" | xargs git branch -d  && git remote prune origin && git gc
[init]
	defaultBranch = main
