;; This global config file applies a configuration to all graphs. Any config
;; keys from a graph's logseq/config.edn can used here. A graph's
;; logseq/config.edn overrides config keys in this file except for maps which
;; are merged. As an example of merging, the following global and local configs:
;;   {:shortcuts {:ui/toggle-theme "t z"}}
;;   {:shortcuts {:ui/toggle-brackets "t b"}}
;;
;;  would result in the final config:
;;   {:shortcuts {:ui/toggle-theme "t z"
;;                :ui/toggle-brackets "t b"}}

{:shortcuts {:editor/strike-through ["shift+ctrl+s"]
 :editor/select-all-blocks ["shift+ctrl+a"]
 :editor/cut ["ctrl+x"]
 :command-palette/toggle ["ctrl+p"]
 :auto-complete/next ["down"]
 :auto-complete/prev ["up"]
 :editor/italics ["ctrl+i"]
 :editor/copy-text ["shift+ctrl+c"]
 :editor/insert-link ["ctrl+l"]
 :editor/copy ["ctrl+c"]
 :go/electron-find-in-page ["ctrl+f"]
 :editor/bold ["ctrl+b"]
 :editor/up ["up"]
 :editor/redo ["shift+ctrl+z"]
 :window/close ["ctrl+q"]
 :editor/undo ["ctrl+z"]}}
